body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(224, 224, 224);
}

header {
    padding: 3vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0;
}

header > h1 {
    font-family: "Comic Sans MS", "Comic Sans";
}

nav ul {
    width: 250px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.main {
    margin: 1vh auto;
    display: flex;
    width: 960px;
}

.main-pane{
    flex: 1;
    padding-right: 20px;
}
.reco-pane{
    flex: 1;
    background-color: yellow;
}

section {
    box-sizing: border-box;
    border: solid 1px rgb(128, 128, 128); 
    width: 620px;
    padding: 10px 0;
    margin: 10px;
    background-color: white;
}

section > * {
    margin: 10px 20px;
}

section > img {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}


@media only screen and (max-width: 1000px) {
    .main {
        width: auto;
        margin: auto;
    }

    .main-pane{
        padding-right: 0;
    }

    section {
        width: 800px;
        margin: 1vh auto;
    }

    .reco-pane{
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .main {
        width: auto;
    }

    .main-pane{
        padding-right: 0;
    }
    
    section {
        width: 100%;
        margin: 1vh 0;
    }

    .reco-pane{
        display: none;
    }
}