<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Photo App</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    {% include 'includes/navbar.html' %}

    <div class="main">
        <div class="main-pane">
            
            {% include 'includes/stories.html' %}

            {% include 'includes/cards.html' %}

        </div>
        
        {% include 'includes/suggestions.html' %}

    </div>
  
</body>
</html>
<!--
    It's possible to add alt-text to images by using the `alt` tag in the `img` element.
    So we can ask the user to enter their alt-text while creating the post and add it to the image element.
-->